@model List<Employee>

@{
    ViewData["Title"] = "Employee List";
}

<h2>Employee List</h2>

<table class="table-bordered table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.DepartmentId</td>
                <td>
                    <a asp-action="Edit" asp-controller="Department" asp-route-id="@employee.Id" class="btn btn-success">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" asp-controller="Department" class="btn btn-success">Add New Employee</a>
